body{ 
    background-color: rgba(255, 255, 255, 0.863);
    padding-bottom: 40px;
}

/* Estructura */
#inicio{
    padding-top: 30px;
    padding-bottom: 30px;

}
#team{
    padding-bottom: 30px;
}
#rescate{
    padding-bottom: 30px;
}

/* Estilos letras */
h1{
    color: rgb(104, 40, 40);
    text-align: center;
    text-transform: uppercase;
}
.type_letter{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

/* Enlaces */
.enlace_index{
    margin-top: 50px;
    margin-left: -210px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.enlace_mascota{
    margin-top: 50px;
    margin-left: -210px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Imágen y Presentación de mascotas */
.img-presentacion{
    height: 330px;
    width: 520px;
    margin-top: 100px;
    margin-left: 50px;
    border-color: black;
}

.tabla-info{
    margin-left: 600px;
    margin-top: -270px;
}
